:root{
    --akcen-tcolor:#2196F3;
    --logo-color:#000;
    --main-color:#212121;
    --et-textcolor:#757575;
    --tytle-color:#FFFFFF;
    --team-background:#F5F4FA;
    --footer-background:#2F303A;
    --adres-color:rgba(255, 255, 255, 0.60);
    --line-color:#ECECEC;
    --border-color:#EEEEEE;
}

  .webstudio-link{
   font-family: "Raleway";
  }

 .index-link{
    font-family: 'Roboto';
 }

 .beginning-title{
    font-family: 'Roboto';
 }

 .beginning-button{
    font-family: 'Roboto';
 }

  .subject-title{
    font-family: "Roboto";
  }
  .subject-text{
   font-family: "Roboto";
  }

 .main-title{
   font-family: "Roboto";
 }

 .main-text{
   font-family: "Roboto";
 }


.team {
   font-family: "Roboto";
}

.indek{
   font-family: "Raleway";
}

 .link-lesia{
   font-family: "Roboto";
 }

 .link-adres{
   font-family: "Roboto";
 }

 .link-number{
   font-family: "Roboto";
 }

 .portofolio-link{
  font-family: "Raleway";
 }
 
 .portofolio-list{
  font-family: "Roboto";
 }

 .offers-item{
  font-family: "Roboto";
 }

 .frame-item{
  font-family: "Roboto";
 }

 .portofolio-adres{
  font-family: "Roboto";
 }

 .email{
  font-family: "Roboto";
 }
 



