:root{
    --akcen-tcolor:#2196F3;
    --logo-color:#000;
    --main-color:#212121;
    --et-textcolor:#757575;
    --tytle-color:#FFFFFF;
    --team-background:#F5F4FA;
    --footer-background:#2F303A;
    --adres-color:rgba(255, 255, 255, 0.60);
    --line-color:#ECECEC;
    --border-color:#EEEEEE;
}


   .webstudio-link{
    font-family: "Raleway";
   font-size: 26px;
   font-weight: 700;
   line-height: 1.38;
   color: var(--akcen-tcolor)
  }
  .header-span{
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    color: var(--logo-color); 
  }

 .index-item{
    color: var(--logo-color);
    font-family: 'Roboto';
    font-size: 14px;
  font-weight: 500;
   line-height: 1.14;
  }
  .index-item:hover{
    color: var(--akcen-tcolor);
  }
.adres{
  color: var(--et-textcolor);
font-family: "Roboto";
font-size: 14px;
font-weight: 500;
line-height: 1.14;
}

.adres:hover{
  color: var(--akcen-tcolor);
}


.number{
  color: var(--et-textcolor);
font-family: "Roboto";
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.number:hover{
  color: var(--akcen-tcolor);
}

.beginning{
  background-color: var(--footer-background);
 
}


 .beginning-title{
    font-family: 'Roboto';
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    color: var(--tytle-color);
 }

 .beginning-button{
  text-align: center;
  color: var(--tytle-color);
  background-color: var(--akcen-tcolor);
    font-family: 'Roboto';
     font-size: 16px;
    font-weight: 700;
    line-height: 1.85;
 }

  .subject-title{
    font-family: "Roboto";
    color: var(--main-color);
    font-size: 14px;
   font-weight: 700;
   line-height: 1.14;
  }
  .subject-text{
   font-family: "Roboto";
   color: var(--et-textcolor);
   font-size: 14px;
   font-weight: 400;
   line-height: 1.71;
  }

 .main-title{
   font-family: "Roboto";
   color: var(--main-color);
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.16;
 }
 .main-item{
  width: 370px;
height: 294px;
flex-shrink: 0;
 }

 .main-text{
   font-family: "Roboto";
 }

 .team{
  background-color: var(--team-background);
 }

 .team-title{
  color: var(--main-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16;
 }

 .team-img{
  width: 270px;
height: 260px;
flex-shrink: 0;
}

.team-titles{
  color: var(--main-color);
 text-align: center;
 font-family: "Roboto";
 font-size: 16px;
 font-weight: 500;
 line-height: 1.18;
 }
 
 .team-text{
color: var(--et-textcolor);
text-align: center;
font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 1.18;
}

.link{
   font-family: "Raleway";
   font-size: 26px;
   font-weight: 700;
   line-height: 1.38;
   color: var(--akcen-tcolor);
}

.footer-link{
  font-size: 26px;
   font-weight: 700;
   line-height: 1.38;
   color: var(--logo-color);
}

 .link-lesia{
   font-family: "Roboto";
   color: var(--tytle-color);
   font-size: 14px;
   font-weight: 400;
 }

 .link-adres{
   font-family: "Roboto";
   font-size: 14px;
   font-weight: 400;
   line-height: 1.71;
   color: var(--adres-color);
   }

 .link-number{
   font-family: "Roboto";
   font-size: 14px;
   font-weight: 400;
   line-height: 1.71;
   color: var(--adres-color);
 }

 .footer{
  background-color:var(--footer-background)
 }

 .portofolio-link{
  color: var(--akcen-tcolor);

  font-family: "Raleway";
  font-size: 26px;
   font-weight: 700;
   line-height: 1.38;
 }
 .link-portofolio{
  font-family: "Raleway";
  font-size: 26px;
   font-weight: 700;
   line-height: 1.38;
    color: var(--logo-color);
 }
 
 .portofolio-list{
  font-family: "Roboto";
 }

 .offers-button{
  font-family: "Roboto";
  color: var(--main-color);
   text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
 }
 .offers-button:hover{
  background-color: var(--akcen-tcolor);
  color: var(--tytle-color);
 }

 .portofolio-item{
  font-family: "Roboto";
  color: var(--main-color);
   font-size: 14px;
  font-weight: 500;
   line-height: 1.14;
 }

 .portofolio-item:hover{
  color: var(--akcen-tcolor);
 }

 .items-item{
  color: var(--et-textcolor);
  font-family: 'Roboto';
  font-size: 14px;
font-weight: 500;
 line-height: 1.14;
 }
 .items-item:hover{
  color: var(--akcen-tcolor);
 }
 
 .frame-title{
  color: var(--main-color);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 2; 
 }

 .frame-text{
  color: var(--et-textcolor);
  font-family: "Roboto";
 font-size: 16px;
 font-weight: 400;
 line-height: 1.87;
}

 .frame-img{
  width: 370px;
height: 294px;
flex-shrink: 0;
 }

 body{
  font-family: "Roboto";
 }

 .footer-Web{
  color: var(--akcen-tcolor);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
 }
 
 .footer-Studio{
  color: var(--tytle-color);
font-family: "Raleway";
font-size: 26px;
font-weight: 700;
line-height: 1.38;
}

 



