a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, p {
  margin: 0;
}

address {
  font-style: normal;
}

:root {
  --akcen-tcolor:#2196F3;
  --logo-color:#000;
  --main-color:#212121;
  --et-textcolor:#757575;
  --tytle-color:#FFFFFF;
  --team-background:#F5F4FA;
  --footer-background:#2F303A;
  --adres-color:rgba(255, 255, 255, 0.60);
  --line-color:#ECECEC;
  --border-color:#EEEEEE;
  --svg-color: #AFB1B8;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
}

.webstudio-link {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  margin-right: 93px;
  color: var(--akcen-tcolor);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-span {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  padding-top: 24;
  padding-bottom: 25;
  color: var(--logo-color);
}

.header-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

/* index */
.index-list {
  display: flex;
  gap: 50px;
}

.index-item {
  color: var(--logo-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 1, 0, -0.01);
}

.index-item:hover {
  color: var(--akcen-tcolor);
}

/* adres */
.adres {
  color: var(--et-textcolor);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 300ms;
  gap: 10px;
}

.adres:hover {
  color: var(--akcen-tcolor);
}
.adres:hover .adres-icon {
  fill: var(--akcen-tcolor);
}

.adres-icon {
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  fill: var(--et-textcolor);
}

.number {
  color: var(--et-textcolor);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color;
  transition-duration: 300ms;
}

.number:hover {
  color: var(--akcen-tcolor);
}
.number:hover .adres-icon {
  fill: var(--akcen-tcolor);
}

.beginning {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /* background-image: url(../img/hero.png); */
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.beginning-title {
  font-family: "Roboto";
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  color: var(--tytle-color);
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
}

.beginning-button {
  text-align: center;
  color: var(--tytle-color);
  background-color: var(--akcen-tcolor);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.85;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.subject {
  padding-top: 94px;
}

.subject-list {
  display: flex;
  gap: 30px;
}

.subject-titel {
  color: var(--main-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.subject-item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--team-background);
  background-image: url(../img/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.subject-item:nth-child(2)::before {
  content: "";
  background-image: url(../img/clock.svg);
}

.subject-item:nth-child(3)::before {
  content: "";
  background-image: url(../img/diagram.svg);
}

.subject-item:nth-child(4)::before {
  content: "";
  background-image: url(../img/astronaut.svg);
}

.subject-text {
  font-family: "Roboto";
  color: var(--et-textcolor);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-top: 10px;
}

.main {
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-title {
  font-family: "Roboto";
  color: var(--main-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 50px;
}

.main-img {
  display: flex;
  gap: 30px;
}

.main-item {
  width: 370px;
  height: 294px;
  flex-shrink: 0;
}

.main-position {
  font-size: 20px;
  color: var(--tytle-color);
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
}

.position-box {
  position: relative;
}

.main-text {
  font-family: "Roboto";
}

.team {
  background-color: var(--team-background);
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-title {
  color: var(--main-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team-items {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-link:hover {
  background-color: var(--akcen-tcolor);
}
.team-link:hover .team-svg {
  fill: var(--tytle-color);
}

.team-img {
  width: 270px;
  height: 260px;
  flex-shrink: 0;
  background-color: var(--tytle-color);
}

.team-svg {
  width: 20px;
  height: 20px;
  fill: var(--svg-color);
}

.team-titles {
  color: var(--main-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team-text {
  color: var(--et-textcolor);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
}

.margin {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--tytle-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients-tytle {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.clients-item {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  text-align: center;
  justify-content: space-around;
  width: 170px;
  height: 92px;
  padding: 16px 32px;
}

.clients-item:hover {
  border-radius: 4px;
  border: 1px solid #2196F3;
}
.clients-item:hover .clients-svg {
  fill: var(--akcen-tcolor);
}

.clients-svg {
  width: 106px;
  height: 60px;
  fill: var(--svg-color);
}

.offers {
  padding-top: 94px;
  padding-bottom: 50px;
}

.offers-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.offers-button {
  font-family: "Roboto";
  color: var(--main-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border: none;
  padding: 6px 22px;
  border-radius: 4px 4px 4px 4px;
}

.offers-button:hover {
  background-color: var(--akcen-tcolor);
  color: var(--tytle-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.offers-title {
  color: var(--main-color);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 4px;
}

.offers-text {
  color: var(--et-textcolor);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

.offers-img {
  width: 100%;
  flex-shrink: 0;
}

.frame {
  padding-top: 50px;
  padding-bottom: 94px;
}

.frame-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.frame-item:hover {
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.frame-item {
  outline: 1px solid #EEE;
  flex-basis: calc((100% - 60px) / 3);
}

.frame-box {
  padding: 20px 24px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background);
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-block {
  margin-right: 70px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 9px;
}

.footer-Web {
  color: var(--akcen-tcolor);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  margin-bottom: 20px;
}

.footer-Studio {
  color: var(--tytle-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  margin-bottom: 20px;
  display: inline-block;
}

.item-svg:hover {
  background-color: var(--akcen-tcolor);
  border-radius: 50px;
}
.item-svg:hover .footer-svg:hover {
  fill: var(--tytle-color);
}

.link {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  color: var(--akcen-tcolor);
}

.footer-link {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  color: var(--logo-color);
}

.link-lesia {
  font-family: "Roboto";
  color: var(--tytle-color);
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px;
}

.link-adres {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--adres-color);
  margin-bottom: 9px;
}

.link-number {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  color: var(--adres-color);
}

.footer-h2 {
  color: var(--tytle-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: var(--tytle-color);
}

.list-svg {
  display: flex;
  gap: 10px;
}

.item-svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 528px;
  border-radius: 4px;
  background-color: var(--tytle-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-close:focus,
.modal-close:hover {
  width: 30px;
  height: 30px;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-close:focus .modal-cross,
.modal-close:hover .modal-cross {
  fill: var(--akcen-tcolor);
}

.modal-cross {
  width: 18px;
  height: 18px;
}

.modal-title {
  color: var(--main-color);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-label {
  color: var(--et-textcolor);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
}

.modal-input:hover,
.modal-input:focus {
  border: none;
  outline: 1px solid var(--akcen-tcolor);
}

.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: #2196F3;
}

.modal-icon {
  width: 18px;
  height: 18px;
  fill: var(--main-color);
  position: absolute;
  top: 32px;
  left: 12px;
}

.modal-coment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 20px;
  margin-top: 4px;
}

.modal-check {
  width: 16px;
  height: 15px;
}

.modal-text {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
  margin-left: 9px;
  margin-right: 4px;
}

.modal-link {
  color: #2196F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.modal-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 52px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 30px;
}

.modal-box {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */